Starter Kit Updated/force-app/main/default/flows/New_FSSK_Status_Transition_Subflow_for_Time_Sheet_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Time_Sheet_ID</name>
        <label>Assign Time Sheet ID</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Updated_SA_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Travel_Time_Home_Variable</name>
        <label>Update Travel Time Home Variable</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>VAR_EstimatedTravelHome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Travel_Home_in_Minutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Travel_TSE</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Travel</name>
        <choiceText>Travel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel</stringValue>
        </value>
    </choices>
    <decisions>
        <description>If the status is Compete and choice is to create a Travel Home TSE. Will include Cannot Complete status.</description>
        <name>Create_TSE</name>
        <label>Create TSE</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Create_New_Open_TSE_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Complete Create a New TSE</defaultConnectorLabel>
        <rules>
            <name>Complete_and_Travel_Home_TSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_create_Time_Sheet_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Travel_Time_Home_Variable</targetReference>
            </connector>
            <label>Complete and Travel Home TSE</label>
        </rules>
        <rules>
            <name>Complete_do_not_Create_Travel_TSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_create_Time_Sheet_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <label>Complete do not Create Travel TSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_TSE_Open</name>
        <label>Is TSE Open</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Update_End_on_Open_TSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open TSE</defaultConnectorLabel>
        <rules>
            <name>No_TSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenTSEId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Open_TSE</targetReference>
            </connector>
            <label>No TSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheet_Exists_For_User</name>
        <label>Timesheet Exists For User</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>What_is_the_Updated_SA_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Timesheet Exists</defaultConnectorLabel>
        <rules>
            <name>No_Time_Sheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sheet</targetReference>
            </connector>
            <label>No Time Sheet</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looking at the updated SA Status passed from the Master Flow.</description>
        <name>What_is_the_Updated_SA_Status</name>
        <label>What is the Updated SA Status</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Is_TSE_Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Still In progress</defaultConnectorLabel>
        <rules>
            <name>Is_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Status_is_Cancelled</targetReference>
            </connector>
            <label>Is Canceled</label>
        </rules>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Travel_Home</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <description>Use with Starter Kit Status Transition Flow 
- Includes En Route Status
- Time Sheet Entry Creation

Assumption: SA Parent is the WO</description>
    <environments>Default</environments>
    <formulas>
        <name>FORM_EstimatedHomeArrivalTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + ({!VAR_EstimatedTravelHome} / 1440)</expression>
    </formulas>
    <formulas>
        <description>Time Now</description>
        <name>TimeNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>TodayPlus30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+ 30</expression>
    </formulas>
    <interviewLabel>New FSSK Status Transition Subflow for Time Sheet Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New FSSK Status Transition Subflow for Time Sheet Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_New_Open_TSE</name>
        <label>Create New Open TSE</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SAStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>SAParentId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Open_TSE_1</name>
        <label>Create New Open TSE</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SAStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>SAParentId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <description>If a Time Sheet doesn&apos;t exist for the running user, this will create it with the Status New and the Dates for Flow Current Date.</description>
        <name>Create_Time_Sheet</name>
        <label>Create Time Sheet</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>NewTimeSheetId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Time_Sheet_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Travel_TSE</name>
        <label>Create Travel TSE</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>FORM_EstimatedHomeArrivalTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>SAParentId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a TSE for the time spent before it was cancelled.</description>
        <name>Updated_Status_is_Cancelled</name>
        <label>Updated Status is Cancelled</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>TimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>TimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SAStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordLookups>
        <description>Getting the Service Resource ID from the Assigned Resource Record of the SA. Also assigning the Travel From Variable, if it&apos;s populated.</description>
        <name>Lookup_AssignedResource</name>
        <label>Lookup AssignedResource</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_Time_Sheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>VAR_EstimatedTravelHome</assignToReference>
            <field>FSL__EstimatedTravelTimeFrom__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>If there is an open TSE for the Time Sheet, it will be closed off with the Current Flow Date/Time before creating a new TSE.
This is not filtering for the ParentID of the SA since it could be a WOLI or a WO, but those values will be assigned to a Variable if they are populated.</description>
        <name>Lookup_existing_open_TSE</name>
        <label>Lookup existing open TSE</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheet_Exists_For_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>OpenTSEId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TSEWOId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TSEWOLIId</assignToReference>
            <field>WorkOrderLineItemId</field>
        </outputAssignments>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>The most recent Time Sheet for the Assigned Service Resource and the Status is New. If a Time Sheet isn&apos;t available for the Service Resource, a new one will be created.</description>
        <name>lookup_Time_Sheet</name>
        <label>lookup Time Sheet</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_existing_open_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_End_on_Open_TSE</name>
        <label>Update End on Open TSE</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenTSEId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <screens>
        <name>Log_Travel_Home</name>
        <label>Log Travel Home</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_TSE_Open</targetReference>
        </connector>
        <fields>
            <name>LogTravelHome</name>
            <fieldText>&lt;p&gt;Would you like to create a Time Sheet Entry for your travel home?  Our estimates show it will take you {!VAR_EstimatedTravelHome} minutes to get home.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Travel Start&lt;/strong&gt;: {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estimated Arrival at Home&lt;/strong&gt;: {!FORM_EstimatedHomeArrivalTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_create_Time_Sheet_Entry</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, create Time Sheet Entry for travel home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Travel_Home_in_Minutes</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>VAR_EstimatedTravelHome</elementReference>
            </defaultValue>
            <fieldText>Estimated Travel Home in Minutes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_AssignedResource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewTimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewTimeSheetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenTSEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To allow for flexibility between the WO and WOLI</description>
        <name>SAParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeSheetRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <description>If the TSE has a WO populated, it will capture it here</description>
        <name>TSEWOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If the TSE has a WOLI populated, it will capture it here</description>
        <name>TSEWOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_EstimatedTravelHome</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
